.page-header {
	height: 80px;
	width: 100%;
	position: relative;
	background-image: url(./bg-header.png);
	background-repeat: repeat-x;
	background-color: #76c7c0;
	z-index: 1;
}

.header-logo {
	position: absolute;
	top: 25px;
	left: 3px;
}

.header-menu {
	position: absolute;
	left: 450px;
	top: 5px;
}

.header-search {
	position: relative;
	top: 20px;
	left: 50px;
}

@media (min-width: 320px) and (max-width: 900px) {
	.header-search {
		left: 140px;
	}
     
	.header-logo {
		position: relative;
		float: left;
		left: 38%;
	}

	.header-menu {
		left: 30px;
		top: 25px;
	}
}

@media (min-width: 320px) and (max-width: 500px) {
	.header-logo {
		position: relative;
		float: left;
		left: 30%;
	}
}

@media (min-width: 900px) and (max-width: 1200px) {
	.header-logo {
		position: relative;
		float: left;
		left: 20px;
	}
}

@media (max-width: 390px) {
	.header-search {
		top: -5px;
	}
}

@media (min-width: 320px) and (max-width: 350px) {
	.header-logo {
		position: relative;
		float: left;
		left: 20%;
	}
	 
	.header-menu {
		left: 20px;
	}
}